<div class="container" data-controller="flatpickr total-price" data-total-price-price-value="<%= @studio.price %>">
  <%= simple_form_for [@studio, @booking],
    input_html: {
      data: {
        controller: 'flatpickr'
      }
    } do |f| %>
  <input data-flatpickr-target="startDateInput" data-total-price-target="startDateInput" data-action="input->total-price#calculatePrice">
  <%= f.input :start_date,
    as: :date,
      input_html: {
        class: "d-none",
        data: {
          flatpickr_target: 'startDateInput',
        }
      } %>
  <input data-flatpickr-target="endDateInput" data-total-price-target="endDateInput">
  <%= f.input :end_date,
    as: :date,
    input_html: {
      class: 'd-none',
      data: {
        flatpickr_target: 'endDateInput'
      }
    } %>
  <%= f.submit %>
  <% end %>

<br>
<br>
<div class="d-flex">
<div id="total-price"><p>total price in</p></div>
<p>$</p>
</div>
</div>
