<div class="container">
  <div class="show-title">
    <h1><%= @booking.studio.name.capitalize %></h1>
    <p><%= @booking.studio.address %></p>
  </div>

  <div>
  <% duration = @booking.end_date - @booking.start_date %>
  <% @number_of_days = duration.to_i + 1 %>
  <h4>You have successfully reserved this studio from <%= @booking.start_date %> to <%= @booking.end_date %></h4>
  <h4> For a total of <%= @number_of_days %> days.</h4>
  </div>

  <div class="image-container">
    <%= image_tag @booking.studio.photo, class: "image-show" %>
  </div>

  <div class="separation"></div>

  <div class="row">

    <div class="text-detail col-10">
      <p><%= @booking.studio.description %></p>
    </div>

    <div class="booknow col-2 bookcard">
      <h3><%= @number_of_days * @booking.studio.price %> $</h3>
    </div>

  </div>

    <div class="separation"></div>

    <div class="map-container">
      <h2>#TODO MAP</h2>
    </div>

</div>
