<div class="container">
  <div class="show-title">
    <h1><%= @booking.studio.name.capitalize %></h1>
    <p><%= @booking.studio.address %></p>
  </div>

  <div>
  <% duration = @booking.end_date - @booking.start_date %>
  <% @number_of_days = duration.to_i + 1 %>
  <h4>You have successfully reserved this studio from <%= @booking.start_date %> to <%= @booking.end_date %></h4>
  <h4> For a total of <%= @number_of_days %> days.</h4>
  </div>


    <div class="image-container">
    <% if @booking.studio.photo.attached? %>
    <%= cl_image_tag @booking.studio.photo.key, class: "image-show" %>
    <% else %>
    "problème image"
    <% end %>
  </div>

  <div class="separation"></div>

  <div class="row">

    <div class="text-detail col-10">
      <p><%= @booking.studio.description %></p>
    </div>

    <div class="booknow col-2 bookcard">
      <h3><%= @number_of_days * @booking.studio.price %> $</h3>
    </div>

  </div>

    <div class="separation"></div>
    <% if @studio.geocoded? %>
      <div class="map-container my-5">
        <div style="width: 100%; height: 400px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
    <% end %>

</div>
