<div class="container">
  <div class="show-title">
    <h1><%= @booking.studio.name.capitalize %></h1>
    <p><%= @booking.studio.address %></p>
  </div>

<div class="row">
  <div class="col-10">
    <% duration = @booking.end_date - @booking.start_date %>
    <% @number_of_days = duration.to_i + 1 %>
    <h4>You have successfully reserved this studio from <%= @booking.start_date %> to <%= @booking.end_date %></h4>
    <h4> For a total of <%= @number_of_days %> days.</h4>
    <div class="booknow bookcard col-2">
      <h3 class="text-center"><%= @number_of_days * @booking.studio.price %> $</h3>
    </div>
  </div>
</div>
  <div class="image-container">
    <% if @booking.studio.photo.attached? %>
    <%= cl_image_tag @booking.studio.photo.key, class: "image-show" %>
    <% else %>
    "problème image"
    <% end %>
  </div>

  <div class="separation"></div>

  <div class="row">

    <div class="text-detail col-12">
      <p><%= @booking.studio.description %></p>
    </div>


  </div>

    <div class="separation"></div>


    <div class="bottom-box">

      <% if @studio.geocoded? %>
      <div class="map-container my-5">
        <div style="width: 100%; height: 400px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
      </div>
      <% end %>

      <div class="vertical-border"></div>

      <div class="address">
        <% address = @studio.address.split(",") %>
        <% address.each do |x| %>
        <ul>
        <li><%= x %></li>
        </ul>
        <% end %>
      </div>


    </div>

</div>
