<div class="container">
  <%= simple_form_for @studio do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <div class="text-center"><div class="btn btn-outline-secondary"><%= f.button :submit %></div></div>
  <% end %>
</div>
