<div class="container">
  <div class="show-title">
    <h1><%= @studio.name.capitalize %></h1>
    <p><%= @studio.address %></p>
  </div>

  <div class="image-container">
    <%= image_tag @studio.photo, class: "image-show" %>
  </div>

  <div class="separation"></div>

  <div class="row">

    <div class="text-detail col-10">
      <p><%= @studio.description %></p>
    </div>

    <div class="booknow col-2 bookcard">
      <h3><%= @studio.price %> $ per day</h3>
      <div class="btn btn-secondary"> <%= link_to "Book now", "#{@studio.id}/bookings/new", class:"text-decoration-none text-light" %></div>
    </div>

  </div>

    <div class="separation"></div>

    <div class="map-container">
      <h2>#TODO MAP</h2>
    </div>

<%= link_to "Remove studio",
            studio_path(@studio),
            data: {turbo_method: :delete, turbo_confirm: "Delete #{@studio}?"}, class:"btn btn-warning"
            %>
</div>
